body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: rgb(40, 40, 43);
}

.mobilelogo {
  left: -100%;
  position: absolute;
}

.blob1 {
  top: -10%;
  left: -10%;
  position: absolute;
  width: 40%;
  height: 80%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(50deg);
}

.blob2 {
  top: -10%;
  right: -10%;
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(50deg);
}

.blob3 {
  top: -10%;
  left: -10%;
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background-color: #4158d0;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(50deg);
}

.blob4 {
  bottom: -60%;
  left: 30%;
  position: absolute;
  width: 50%;
  height: 150%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*top navigation*/

.topnav {
  min-height: 48px;
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.dropdown1 {
  top: 0;
  left: 30vw;
  position: absolute;
  display: inline-block;
}

.dropbtn1 {
  background: transparent;
  color: white;
  padding: 16px;
  width: 115%;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 15%;
  left: 95%;
  color: #fff;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown1:hover .arrow {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.dropdown-content1 a:hover {
  background-color: #686868;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbtn1 {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.dropdown2 {
  top: 0;
  left: 50vw;
  position: absolute;
}

.dropbtn2 {
  top: 0;
  background: transparent;
  color: white;
  padding: 16px;
  margin: 0;
  min-height: 100%;
  width: 165.5%;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown2:hover .arrow2 {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.dropdown-content2 a:hover {
  background-color: #686868;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.dropdown2:hover .dropbtn2 {
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

.dropdown2:hover::after .arrow2 {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.arrow2 {
  position: absolute;
  width: 23%;
  left: 115%;
  color: #fff;
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

.group {
  position: absolute;
  top: 20%;
  left: 75%;
  display: flex;
  line-height: 28px;
  align-items: center;
  width: 20%;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.logo {
  height: 50%;
  width: 20vw;
  position: absolute;
  top: 0;
  left: 0;
}

.logo a {
  top: 0;
  left: 0;
}

.logo img {
  width: 15%;
  top: 10%;
  left: 5%;
  position: absolute;
}

.logo p {
  position: absolute;
  top: 0px;
  left: 100px;
  font-size: 1.25em;
  color: #fff;
}

/* rotating banner css*/

.main-banner {
  margin: 0 auto;
  position: relative;
  width: 1200px;
  height: 400px;
  background: #000;
  overflow: hidden;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 6;
}

.main-banner .imgban {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  transition: all ease-in-out 500ms;
  -webkit-transition: transition all ease-in-out 500ms;
  -moz-transition: transition all ease-in-out 500ms;
  -o-transition: transition all ease-in-out 500ms;
}

.main-banner #imgban3 {
  background-image: url("images/modeling_VRGlasses_Sillouhete_002_0028.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban2 {
  background-image: url("images/Room_Gravity_001_0055.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-banner #imgban1 {
  background-image: url("images/TV_Dark_Front_001_02.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imgbtn {
  position: absolute;
  width: 50px;
  height: 100px;
  background: #000;
  top: 180px;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
}

.imgbtn-prev {
  left: 5px;
  background-image: url(images/arrowleft.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.imgbtn-next {
  right: 5px;
  background-image: url(images/arrowright.png);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.imgbtn:hover {
  opacity: 1;
}

/* first video container css*/
.videocontainer1 {
  position: relative;
  width: 100%;
  height: 1600px;
  top: 600px;
  left: 0;
  overflow: hidden;
}

#vid1 {
  width: 60%;
  height: 70%;
  top: -17%;
  left: 0%;
  position: absolute;
  opacity: 0;
}

.vfxinfo {
  max-width: 20%;
  max-height: 250px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50px;
  right: 5%;
  font-size: 20px;
  opacity: 0;
  overflow: hidden;
}

.guidebutton1 {
  top: 35%;
  right: 5%;
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  color: #fff;
  position: absolute;
  display: block;
  overflow: hidden;
  border: none;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.guidebutton1:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.guidebutton1:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.guidebutton1:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.guidebutton1:hover:before {
  border-color: #fff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.guidebutton1:hover:after {
  border-color: #fff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.card {
  right: 200%;
  bottom: 20%;
  position: absolute;
  width: 350px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
}

.temporary_text {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title {
  font-weight: bold;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 40%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title {
  color: #131313;
  line-height: 15px;
}

.card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .card_content {
  transform: translateY(70px);
}

.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.25s;
}

.card2 {
  left: 200%;
  bottom: 20%;
  position: absolute;
  width: 350px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
}

.temporary_text2 {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title2 {
  font-weight: bold;
}

.card_content2 {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 40%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content2::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title2 {
  color: #131313;
  line-height: 15px;
}

.card_subtitle2 {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}

.card_description2 {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card2:hover .card_content2 {
  transform: translateY(70px);
}

.card2:hover .card_description2 {
  opacity: 1;
  transition-delay: 0.25s;
}

/* second video container css*/

.videocontainer2 {
  position: relative;
  width: 100%;
  height: 1500px;
  top: 600px;
  left: 0;
  overflow: hidden;
}

#vid2 {
  position: absolute;
  width: 60%;
  height: 60%;
  top: -15%;
  right: 0%;
  opacity: 0;
}

.gamesinfo {
  max-width: 25%;
  max-height: 250px;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50px;
  left: 2%;
  font-size: 20px;
  opacity: 0;
  overflow: hidden;
}

.guidebutton2 {
  top: 30%;
  left: 10%;
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: absolute;
  display: block;
  overflow: hidden;
  border: none;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.guidebutton2:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.guidebutton2:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.guidebutton2:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.guidebutton2:hover:before {
  border-color: #fff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.guidebutton2:hover:after {
  border-color: #fff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.card3 {
  left: 10%;
  top: -100%;
  position: absolute;
  width: 350px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text3 {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title3 {
  font-weight: bold;
}

.card_content3 {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 40%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content3::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title3 {
  color: #131313;
  line-height: 15px;
}

.card_description3 {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card3:hover .card_content3 {
  transform: translateY(70px);
}

.card3:hover .card_description3 {
  opacity: 1;
  transition-delay: 0.25s;
}

.card4 {
  right: 10%;
  bottom: -100%;
  position: absolute;
  width: 350px;
  height: 350px;
  color: #2e2d31;
  background: #131313;
  overflow: hidden;
  border-radius: 20px;
}

.temporary_text4 {
  font-weight: bold;
  font-size: 24px;
  padding: 6px 12px;
  color: #f8f8f8;
}

.card_title4 {
  font-weight: bold;
}

.card_content4 {
  position: absolute;
  left: 0;
  bottom: 10%;
  width: 100%;
  height: 40%;
  padding: 20px;
  background: #f2f2f2;
  border-top-left-radius: 20px;
  transform: translateY(150px);
  transition: transform 0.25s;
}

.card_content4::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #f2f2f2;
}

.card_title4 {
  color: #131313;
  line-height: 15px;
}

.card_description4 {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
}

.card4:hover .card_content4 {
  transform: translateY(70px);
}

.card4:hover .card_description4 {
  opacity: 1;
  transition-delay: 0.25s;
}

/* footer css*/

.footercontainer {
  position: relative;
  top: 600px;
  left: 0;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.footer {
  position: absolute;
  top: 600px;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  z-index: 5;
}

.wrapper .icon {
  position: relative;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

.footerlinks {
  position: absolute;
  top: 0;
  left: 30%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  padding: 5px;
  line-height: 50px;
}

.footerlinks a {
  text-decoration: none;
  color: #ffffff;
}

/* shared attributes between deco svg's in this class*/
.corp,
.mail {
  width: 2%;
}

.mail {
  position: absolute;
  top: 22%;
  left: 25%;
  opacity: 0;
}

.corp {
  position: absolute;
  top: 38%;
  left: 25%;
  opacity: 0;
}

/* mobile view*/

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    background: rgb(40, 40, 43);
  }

  .mobilelogo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    position: absolute;
  }

  .mobilelogo a {
    width: 60%;
    height: 70%;
    position: absolute;
  }

  .mobilelogo img {
    position: absolute;
    width: 10%;
    height: 60%;
    left: 3%;
    top: 3%;
  }

  .mobilelogo p {
    position: absolute;
    left: 10%;
  }



  .blob1 {
  top: -20%;
  left: -20%;
  position: absolute;
  width: 60%;
  height: 60%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(50deg);
}

.blob2 {
  top: 15%;
  left: -20%;
  position: absolute;
  width: 90%;
  height: 35%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blob3 {
  top: 20%;
  left: -20%;
  position: absolute;
  width: 90%;
  height: 35%;
  border-radius: 50%;
  background-color: #4158d0;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  transform: rotate(50deg);
}

.blob4 {
  bottom: -60%;
  left: 30%;
  position: absolute;
  width: 60%;
  height: 110%;
  border-radius: 50%;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px 79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 40px 20px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

  .main-banner {
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: 400px;
    background-color: #000;
    overflow: hidden;
    top: 200px;
    left: 0%;
    position: relative;
  }

  .main-banner .imgban {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    transition: all ease-in-out 500ms;
    -webkit-transition: transition all ease-in-out 500ms;
    -moz-transition: transition all ease-in-out 500ms;
    -o-transition: transition all ease-in-out 500ms;
  }

  .main-banner #imgban3 {
    background-image: url("images/bnr1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-banner #imgban2 {
    background-image: url("images/bnr2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .main-banner #imgban1 {
    background-image: url("images/bn3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menucontainer {
    position: absolute;
    right: 20%;
    top: 2%;
    display: inline-block;
    cursor: pointer;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }

  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* by adjusting the height of the top navigation bar to cover 100% of height* it becomes a side navigation */
  .topnav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 6;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .topnav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 26px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    display: block;
    position: relative;
    top: 300px;
  }

  .dropdown1 {
    top: 15%;
    left: 0;
    position: absolute;
    display: block;
  }

  .dropbtn1 {
    background: transparent;
    color: white;
    padding: 16px;
    width: 115%;
    font-size: 14px;
    cursor: pointer;
  }

  .arrow {
    position: absolute;
    width: 15%;
    left: 95%;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content1 a {
    top: 0;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown1:hover .arrow {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }

  .dropdown-content1 a:hover {
    background-color: #686868;
  }

  .dropdown1:hover .dropdown-content1 {
    display: inline-block;
  }

  .dropdown1:hover .dropbtn1 {
    background-color: hsl(0, 0%, 59%);
  }

  .dropdown2 {
    top: 30%;
    left: 0;
    position: absolute;
  }

  .dropbtn2 {
    top: 0;
    left: 0;
    background: transparent;
    color: white;
    padding: 16px;
    margin: 0;
    min-height: 100%;
    width: 165.5%;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content2 a {
    top: 0;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown2:hover .arrow2 {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
  }

  .dropdown-content2 a:hover {
    background-color: #686868;
  }

  .dropdown2:hover .dropdown-content2 {
    display: block;
  }

  .dropdown2:hover .dropbtn2 {
    background-color: hsl(0, 0%, 59%);
  }

  .dropdown2:hover::after .arrow2 {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .arrow2 {
    position: absolute;
    width: 23%;
    left: 115%;
    color: #fff;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
  }

  .group {
    width: 90%;
    height: 5%;
    left: 0;
    top: 90%;
  }

  .logo {
    height: 8%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo a {
    top: 0;
    left: 0;
  }

  .logo img {
    width: 15%;
    top: 0%;
    left: 5%;
    position: absolute;
  }

  .logo p {
    position: absolute;
    top: 0px;
    left: 100px;
    font-size: 1.25em;
    color: #fff;
  }

  .videocontainer1 {
    position: relative;
    width: 100%;
    height: 2000px;
    top: 600px;
    left: 0;
    overflow: hidden;
  }

  #vid1 {
    width: 100%;
    height: 100%;
    top: -40%;
    left: 0%;
    position: absolute;
    overflow: hidden;
  }

  .vfxinfo {
    max-width: 60%;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 3%;
    z-index: 2;
    opacity: 0;
  }

  .guidebutton1 {
    top: 40%;
    right: 5%;
    width: 140px;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: absolute;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 600;
    z-index: 5;
    opacity: 0;
    color: #ffffff;
  }

  .guidebutton1:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .guidebutton1:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .guidebutton1:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .guidebutton1:hover:before {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }

  .guidebutton1:hover:after {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }

  .card {
    right: 200%;
    bottom: 27%;
    position: absolute;
    width: 300px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
  }

  .temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }

  .card_title {
    font-weight: bold;
  }

  .card_content {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 40%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(100px);
    transition: transform 0.25s;
  }

  .card_content::before {
    content: "";
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }

  .card_title {
    color: #131313;
    line-height: 15px;
  }

  .card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .card_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card:hover .card_content {
    transform: translateY(40px);
  }

  .card:hover .card_description {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .card2 {
    left: 200%;
    bottom: 7%;
    position: absolute;
    width: 300px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0;
  }

  .temporary_text2 {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }

  .card_title2 {
    font-weight: bold;
  }

  .card_content2 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 40%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(100px);
    transition: transform 0.25s;
  }

  .card_content2::before {
    content: "";
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }

  .card_title2 {
    color: #131313;
    line-height: 15px;
  }

  .card_subtitle2 {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .card_description2 {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card2:hover .card_content2 {
    transform: translateY(40px);
  }

  .card2:hover .card_description2 {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .videocontainer2 {
    position: relative;
    width: 100%;
    height: 2000px;
    top: 600px;
    left: 0;
    overflow: hidden;
  }

  #vid2 {
    width: 100%;
    height: 90%;
    top: -30%;
    right: 0%;
    opacity: 0;
  }

  .gamesinfo {
    max-width: 60%;
    z-index: 5;
    color: #ffffff;
    position: absolute;
    overflow: hidden;
    top: 30%;
    left: 2%;
    font-size: 22px;
    opacity: 0;
  }

  .guidebutton2 {
    top: 40%;
    left: 70%;
    width: 140px;
    color: #fff;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: absolute;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 5;
    opacity: 0;
  }

  .guidebutton2:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }

  .guidebutton2:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }

  .guidebutton2:hover {
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
  }

  .guidebutton2:hover:before {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
  }

  .guidebutton2:hover:after {
    border-color: #ffffff;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
  }

  .card3 {
    left: 10%;
    top: -100%;
    position: absolute;
    width: 300px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }

  .temporary_text3 {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }

  .card_title3 {
    font-weight: bold;
  }

  .card_content3 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 40%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(100px);
    transition: transform 0.25s;
  }

  .card_content3::before {
    content: "";
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }

  .card_title3 {
    color: #131313;
    line-height: 15px;
  }

  .card_description3 {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card3:hover .card_content3 {
    transform: translateY(40px);
  }

  .card3:hover .card_description3 {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .card4 {
    right: 10%;
    bottom: -100%;
    position: absolute;
    width: 300px;
    height: 300px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    border-radius: 20px;
  }

  .temporary_text4 {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #f8f8f8;
  }

  .card_title4 {
    font-weight: bold;
  }

  .card_content4 {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;
    height: 40%;
    padding: 20px;
    background: #f2f2f2;
    border-top-left-radius: 20px;
    transform: translateY(100px);
    transition: transform 0.25s;
  }

  .card_content4::before {
    content: "";
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
  }

  .card_title4 {
    color: #131313;
    line-height: 15px;
  }

  .card_description4 {
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card4:hover .card_content4 {
    transform: translateY(40px);
  }

  .card4:hover .card_description4 {
    opacity: 1;
    transition-delay: 0.25s;
  }

  .footerlinks {
    position: absolute;
    top: 40%;
    left: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: #fff;
    opacity: 0;
  }

  .footerlinks a {
    margin: 10px;
    text-decoration: none;
    color: #ffffff;
  }

  .corp,
  .mail {
    width: 5%;
  }

  .mail {
    position: absolute;
    top: 62%;
    left: 5%;
    opacity: 0;
  }

  .corp {
    position: absolute;
    top: 76%;
    left: 5%;
    opacity: 0;
  }
}
